
section{
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 5vw auto;
  background-color: black;
  border: 2px solid white;
  border-radius: 15px;
  justify-content: space-evenly;
}
section div{
  color: white;
  margin: 0 auto;
  font-family: arial;
  flex-direction: row;
}
section div label{
  font-size: 1.3vw;
}
section div input{
  border-radius: 20px;
  border: 4px solid;
  height: 2.5vw;
  outline: 0;
  font-size: 1.3vw;
}
section div input:focus{
background-color: rgb(209, 209, 209);
}
#termos-de-uso{
  font-size: 1vw;
  display: flex;
}
#termos-de-uso a{
  text-decoration: none;
  color: gray;
}
#termos-de-uso a:hover{
  color: rgb(196, 196, 196);
}

#form-redirecionador{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
button {
  margin: 1vw auto;
  margin-bottom: 2vw;
  width: 15vw;
  border-radius: 20px;
  border: 0px;
  height: 2vw;
  color: white;
  background-color: gray;
}
button:hover{
  background-color: rgb(187, 187, 187);
}

#link {
  color: black;
  font-size: 1vw;
  display: flex;
}