#section-box{
    display: flex;
    flex-direction: row;
    width: 86vw;
    margin: 0 auto;
}
#caixa-video{
    background-color: black;
    margin: 5vw 2vw;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    width: 60vw;
}
.player{
    margin-top: 2vw;
    align-self: center;
    width: 56vw;
    border-radius: 10px;
    border: 2px solid white;
    outline: 0;
}#caixa-info{
    display: flex;
    flex-direction: row;
    margin: 1vw 2vw;
}
#fundo-usuario{
    height: 10vw;
    width: 10vw ;
    background-color: gray;
    border-radius: 50%;
}